@page
@using FiyiRequirements.Areas.Requirement.Models
@model FiyiRequirements.Areas.Requirement.Pages.PageClientNonQueryModel
@{
    Layout = "_LayoutDashboard";

    string NonQueryText = "";
    string NonQueryIcon = "";

    int ClientId;
    string FirstName;
    string LastName;
    string BusinessName;
    string PhoneNumber;
    string Email;
    

    if(HttpContext.Request.QueryString.Value.Contains("?ClientId=0"))
    {
        NonQueryText = "Add";
        NonQueryIcon = "fas fa-plus";

        ClientId = 0;
        FirstName = "";
        LastName = "";
        BusinessName = "";
        PhoneNumber = "";
        Email = "";
        
    }
    else
    {
        NonQueryText = "Edit";
        NonQueryIcon = "fas fa-pen";

        ClientModel ClientModel = new ClientModel().Select1ByClientIdToModel
        (Convert.ToInt32(HttpContext.Request.QueryString.Value.Replace("?ClientId=","")));

        ClientId = ClientModel.ClientId;
        FirstName = ClientModel.FirstName;
        LastName = ClientModel.LastName;
        BusinessName = ClientModel.BusinessName;
        PhoneNumber = ClientModel.PhoneNumber;
        Email = ClientModel.Email;
        
    }

/*
 * GUID:e6c09dfe-3a3e-461b-b3f9-734aee05fc7b
 * 
 * Coded by fiyistack.com
 * Copyright © 2022
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 */
    
//Stack: 11
//Last modification on: 25/12/2022 12:12:08

}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <!-- Header body -->
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <!-- Title -->
                    <h2 id="requirement-client-title-page" class="h2 text-white d-inline-block mb-0">@NonQueryText client</h2>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="/CMSCore/DashboardIndex">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    Requirement
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    Client
                                 </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <i class="@NonQueryIcon"></i>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <!-- XL Screens -->
                    <div class="d-none d-xl-inline">
                        <a href="/Requirement/PageClientQuery" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i> Go back
                        </a>
                    </div>
                    <!-- Other Screens -->
                    <div class="d-inline d-sm-inline d-md-inline d-lg-inline d-xl-none">
                        <a href="/Requirement/PageClientQuery" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="col">
            <!-- Card -->
            <div class="card">
                <!-- Card body -->
                <div class="card-body">
                    <form role="form" class="needs-validation" novalidate>
                        <!-- ClientId -->
                        <div class="form-group mb-3">
                            <label for="requirement-client-clientId-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-key"></i> ClientId
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text">
                                        <strong>
                                            <i class="fas fa-key"></i> ClientId
                                        </strong>
                                    </span>
                                </div>
                                <input type="hidden" id="requirement-client-clientid-input" value="@ClientId"/>
                                <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="bottom" title="@ClientId"  type="button" value="ClientId">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <!-- FirstName -->
                        <div class="form-group mb-3">
                            <label for="requirement-client-firstname-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-font"></i> FirstName
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-font"></i> FirstName
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" min="1" max="100" type="text" id="requirement-client-firstname-input" value="@FirstName" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="firstname-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- LastName -->
                        <div class="form-group mb-3">
                            <label for="requirement-client-lastname-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-font"></i> LastName
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-font"></i> LastName
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" min="1" max="100" type="text" id="requirement-client-lastname-input" value="@LastName" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="lastname-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- BusinessName -->
                        <div class="form-group mb-3">
                            <label for="requirement-client-businessname-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-font"></i> BusinessName
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-font"></i> BusinessName
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" min="1" max="100" type="text" id="requirement-client-businessname-input" value="@BusinessName" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="businessname-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- PhoneNumber -->
                        <div class="form-group mb-3">
                            <label for="requirement-client-phonenumber-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-phone"></i> PhoneNumber
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend input-group-text">
                                    <span class="mr-2 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                        <strong>
                                            <i class="fas fa-phone"></i> PhoneNumber
                                        </strong>
                                    </span>
                                    <button type="button" class="btn btn-outline-primary border-0" data-toggle="modal" data-target="#modal-phone-code-selector">
                                        <i class="fas fa-globe-americas"></i>
                                    </button>
                                </div>
                                <input class="form-control mt-2" min="1" max="100" type="tel" id="requirement-client-phonenumber-input" value="@PhoneNumber" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="phonenumber-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="form-group mb-3">
                            <label for="requirement-client-email-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-at"></i> Email
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-at"></i> Email
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" type="email" min="1" max="300" id="requirement-client-email-input" value="@Email" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Buttons -->
                        <div class="row justify-content-between">
                            <button id="requirement-client-insert-or-update-button" class="btn btn-primary text-nowrap ml-3 mt-4" type="button"><i class="@NonQueryIcon"></i> @NonQueryText</button>
                            <button id="requirement-client-insert-or-update-message" data-toggle="modal" data-target="#requirement-client-error-message-modal" class="btn mt-4" type="button"></button>
                            <a href="/Requirement/PageClientQuery" class="btn btn-outline-primary col-auto mr-3 mt-4 text-nowrap">
                                <i class="fas fa-angle-left"></i> Go back
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-2">
            </div>
        </div>
    </div>
</div>

<!-- Error message in modal style -->
<div class="row">
    <div class="col-md-4 px-0">
        <div class="modal fade" id="requirement-client-error-message-modal" tabindex="-1" role="dialog" aria-labelledby="requirement-client-error-message-modal" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-danger">
                    <!-- Modal title -->
                    <div class="modal-header">
                        <h6 class="modal-title text-white">
                            Error <i class="fas fa-exclamation-triangle"></i>
                        </h6>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="py-3 text-center">
                            <h4 id="/requirement-client-error-message-title" class="heading mt-4 text-white"></h4>
                            <p class="text-white text-truncate" id="requirement-client-error-message-text"></p>
                        </div>
                    </div>
                    <!-- Close button -->
                    <div class="modal-footer pt-4">
                        <button type="button" class="btn btn-white ml-auto" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ForeignKeyDropDown selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <!-- Modal -->
        <div class="modal fade" id="modal-foreign-key-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-foreign-key-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <!-- Modal content -->
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary">
                            Choose a ForeignKeyDropDown value <i class="fas fa-hashtag"></i>
                         </h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select id="requirement-client-foreignkeydropdown-select" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Choose value" data-allow-reset="true">
                                        <option value="0"></option> <!--This must be empty-->
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Phone code Selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <div class="modal fade" id="modal-phone-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-phone-code-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary">Choose your phone code <i class="fas fa-globe-americas"></i></h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Country (+Code)" data-allow-reset="true">
                                        <option></option> <!--This must be empty-->
                                        <option>Argentina (+54)</option>
                                        <option>USA (+1)</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/BasicCore/jquery-3.6.1.min.js"></script>
<script src="/assets/vendor/quill/dist/quill.min.js"></script>
<script src="/js/Requirement/Client/jQuery/ClientNonQuery_jQuery.js"></script>
